* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

html, body {
	background: #4a4141 url(/medias/img/common_lang/fond.png) repeat-x top left;
}

a, a:hover, a:visited, a:link {
    text-decoration: underline;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px;
    color: #fff;
}

p {
    text-align: justify;
    font-size: 9pt;
	color: #fff;
    padding-left: 10px;
    margin-top: 20px;
    line-height: 14pt;
}
p.first{
    margin-top: 11px;
}
h1{
    font-size:12pt;
    line-height: 30pt;
    color: #fff;
    text-align: right;
}
h2{
    font-size:10pt;
    line-height: 20pt;
    color: #fff;
}

#header,#my_expertise,#footer,#description,#general_content {
    width: 960px;
	margin: 0 auto 0;
}
/* hader menu */
#header {
    height:73px;
	background-color: transparent;
}
#header ul {
    height: 30px;
    padding-top : 16px;
    background: url(/medias/img/common_lang/grid.png) no-repeat -391px -310px;
	margin-top: 10px;
    float: right;
    list-style: none;
}
#header li {
    float: left;
    margin-right: 15px;
    background-color : #5a5353;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
}
#header li:hover {
    background-color:transparent;
}
#first_menu_id {
    margin-left : 15px;
}
#header a, #header a:hover, #header a:visited, #header a:link {
    text-decoration: none;
    font-weight: normal;
color: #fff;
}

/** content **/

#my_expertise {
	height: 250px;
    margin-top: 50px;
    background: #5c5253 url(/medias/img/common_lang/grid.png) no-repeat;
}

#description{
    height: 264px;
    margin-top: 70px;
    background-color: transparent;
}

#home_logo {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: transparent url(/medias/img/common_lang/grid.png) no-repeat -391px -270px;
    top: 23px;
}

.logo {
    background: transparent url(/medias/img/common_lang/grid.png) no-repeat 0px -250px;
    width: 369px;
    height: 242px;
    display: inline-block;
    vertical-align: top;
}
.over_logo {
    position: absolute;
    z-index: 3;
    top: 5px;
}
.content {
    width: 573px;
    /*height: 242px;*/
    margin-left: 10px;
    display: inline-block;
}
.fullcontent {
    width: 100%;
    background-color: transparent;
    margin: 20px 0px;
}
#general_content {
    background-color: transparent;
    margin-top: 16px;
}
#general_content .content {
    padding-left: 369px;
}
#general_content ul {
    color: #fff;
    margin: 20px 0px 0px 47px;
    font-size: 10pt;
    font-weight: bold;
    line-height: 30pt;
}

#general_content li {
    color: #fff;
    font-size: 9pt;
    font-weight: normal;
    margin: 0px 0px 5px 20px;
    line-height: 12pt;
    text-align: justify;
}

.column {
    display: inline-block;
    width: 476px;
    vertical-align: top;
}
.column ul{
    color: #fff;
    margin: 0px 0px!important;
    font-size: 9pt!important;
    font-weight: normal!important;
}
.column ul li {
    width: 422px;
}
.column p {
    margin: 11px 0px 0px 0px!important;
    padding: 0px 0px !important;
}
/** footer **/
#footer {
    margin-top: 50px;
    background-color: transparent;
	height: 80px;
    color: #fff;
}
#footer .iconeset {
    display: inline-block;
    width: 29px;
    height: 26px;
    margin-top: 20px;
}
#twitter {
    background: transparent url(/medias/img/common_lang/grid.png) no-repeat -418px -270px;
}
#viadeo{
    background: transparent url(/medias/img/common_lang/grid.png) no-repeat -446px -270px;
}
.my_clear {
    width: 100%;
    height: 1px;
    clear: right;
}